@font-face {
  font-family: "font-awesome";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}




html {
  height: 100%;
  background-color: #fffefd;
}


img {
  width: 100%;
  height: auto;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10em);
  margin: 0 auto;
  padding: 2em 0;
}

/**
 * article grid
 */
.article-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -1em;
  margin: 0;
  padding: 0;
  list-style: none;
}
  .article-list > li {
    flex: 1 1 calc(33.333% - 2em);
    max-width: calc(33.3333% - 2em);
  }

/**
 *
 */
.section-headline {
  padding: 1em 0;
  margin: 0 0 1em;
  border-bottom: 1px solid #ddd;
}

  body {
    font-family: arial, helvetica;
  }

  h3 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: 700;
  }

  #section1 {
    color: #fff;
  }

  .fp-section {
    text-align: center;
  }

  button {
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.85em;
  }


/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }


    body {
    font-family: arial, helvetica;
  }

  h3 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: 700;
  }

  #section1 {
    color: #fff;
  }

  .fp-section {
    text-align: center;
  }

  button {
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.85em;
  }
